* {
    box-sizing: border-box;
}
body{
    background-color: rgb(184, 214, 245);
    color: rgb(61, 60, 60);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media screen and (max-width:500px){
    /*Any screen resolution from 401-500px wide, large tablet vibe */
    body{
        background-color:rgb(57, 90, 180);
        color: white;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size:130%;
    }
}

@media screen and (max-width:400px){
    body{
        background-color: rgb(228, 228, 190);
        color: black;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size:130%;
    }
}

